<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>

<h2>Here is a puppy </h2>
<body>
  <img width="300" alt="Angular Logo" src="/assets/puppies.jpg">
  <button width=300px height=500px name="press me" (click)="getJoke()">
    Get Joke
  </button>
  <br>
  <span>{{name}}</span>
  <button width=340px height=500px name="press me" (click)="getNasaImage()">
    Get Nasa Photo
  </button>
  <img width="300" src={{imag}}>
</body>
</div>


